.repos {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

img {
  max-width: 200px;
  border-radius: 50%;
  box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.2);
}

.link {
  color: white;
  text-decoration: none;
}